body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.clearFix {
  clear: both;
}

#mainHeader {
  display: flex;
  align-items: justify;
  text-align: justify;
  background: #333;
  color: red;
  font-family: Verdana, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
}

h2 {
  color:red;
}

h2::before {
  content: '';
}

h2::after {
  content: '';
}

#mainNav {
  background: #ccc;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#mainNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mainNav li {
  display: inline;
  padding: 5px 10px;
}

#mainNav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
#mainNav li:hover {
  background: red;
}

#mainNav::before {
  content: '';
  position: relative;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: white;
  border: blue;
  z-index: -1;
}

#mainNav::after {
  content: '';
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: orange;
  z-index: -2;
}

.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

#mainFooter {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

#fixed {
  position: fixed;
  bottom: 0;
  right: 50px;
  background:red;
  padding: 5px;
}

@media (max-width:600px){
  #main, #sidebar {
    width: 100%;
    float: none;
    border: none;
  }
}

#pageTitle {
  text-align: center;
}
