{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='./css/pricing.css') }}">
<script src="../static/js/pricing.js"></script>

<form>
    <select id="towType">
        <option>CHP</option>
        <option>FPD</option>
        <option>Personal</option>
    </select>
    <!-- <label for="milage">Number of Hours:</label>
    <input type="text" id="milage" name="milage"> -->
    <br><br>
    <input type="button" onclick="getPricing()" value="Submit">
</form>

<p id="showPrice"></p>
{% endblock %}